html {
  box-sizing: border-box;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: var(--base-font-size);
  font-family: "Inter", sans-serif;
  background-color: var(--ld-background);
  color: var(--ld-text);
}

img {
  max-width: 100%;
  border-radius: var(--corners);
}

a {
  color: var(--ld-blue);
}

a:hover {
  color: var(--marina);
}
