h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: calc(var(--base-font-size) * 2.9);
}

h2 {
  font-size: var(--base-font-size);
  text-transform: uppercase;
  color: var(--ld-blue);
  letter-spacing: 0.25em;
}

p {
  line-height: 1.5;
}
